@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono";
}

::-webkit-scrollbar {
    display: none !important;
}

a,
p {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

nav,
footer {
    position: fixed;
    left: 0;
    width: 100vw;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    z-index: 20;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

a:hover {
    font-weight: 600 !important;
    cursor: pointer;
}

.links,
.socials {
    display: flex;
    gap: 2em;
}

nav>*,
.links a {
    flex: 1;
}