@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: "Space Mono";
}

::-webkit-scrollbar {
    display: none !important;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* h1 {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.02em;
    text-indent: 5em;
    color: #e3e3db;
    -webkit-font-smoothing: antialiased;
} */

section {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2em;
    overflow: hidden;
}

.sticky-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.cards-container {
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: .5em;
    overflow: hidden;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .5em;
    overflow: hidden;
}

.tag {
    position: absolute;
    top: 1em;
    left: 1em;
    padding: .5em;
    border-radius: .25em;
    background: #000;
    z-index: 1;
}

.tag p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

@media (max-width: 728px) {
    .cards-container {
        width: 100%;
    }
}